main {
    width: 100%;
}
section {}
/* 1행 */
main .main_bnr_wrap {}
main .main_bnr_wrap .swiper {}
main .main_bnr_wrap .swiper .swiper-wrapper {}
main .main_bnr_wrap .swiper .swiper-wrapper .swiper-slide {
    width: 100%; height: 800px;
    position: relative;
}
main .main_bnr_wrap .swiper .swiper-wrapper .slide1 {
    background: url(../images/img_main_bg_01.jpg);
}
main .main_bnr_wrap .swiper .swiper-wrapper .slide2 {
    background: url(../images/img_main_bg_02.jpg);
}
main .main_bnr_wrap .swiper .swiper-wrapper .slide3 {
    background: url(../images/img_main_bg_03.jpg);
}
main .main_bnr_wrap .swiper .swiper-wrapper .slide4 {
    background: url(../images/img_main_bg_04.jpg);
}
main .main_bnr_wrap .swiper .swiper-wrapper .slide5 {
    background: url(../images/img_main_bg_05.jpg);
}
main .main_bnr_wrap .swiper .swiper-wrapper .swiper-slide .main_bnr_txt {
    position: absolute; top: 50%; left: 300px; transform: translateY(-50%);
}
main .main_bnr_wrap .swiper .swiper-wrapper .swiper-slide .main_bnr_txt h2 {
    font-size: 1.75rem; font-weight: 500;
    padding: 8px 24px;
    border: 2px solid #000; border-radius: 25px;
    width: max-content;
    margin-bottom: 55px;
}
main .main_bnr_wrap .swiper .swiper-wrapper .swiper-slide .main_bnr_txt h1 {
    font-size: 3.625rem; font-weight: 600;
    line-height: 1.2;
    margin-bottom: 55px;
}
main .main_bnr_wrap .swiper .swiper-wrapper .swiper-slide .main_bnr_txt p {
    font-size: 1.375rem;
    line-height: 1.6;
}
main .main_bnr_wrap .swiper .swiper-wrapper .slide3 .main_bnr_txt h1 {color: #fff;}
main .main_bnr_wrap .swiper .swiper-wrapper .slide3 .main_bnr_txt h2 {color: #fff; border: 2px solid #fff;}
main .main_bnr_wrap .swiper .swiper-wrapper .slide3 .main_bnr_txt p {color: #fff;}
main .main_bnr_wrap .swiper .swiper-wrapper .slide4 .main_bnr_txt h1 {color: #D75770;}
main .main_bnr_wrap .swiper .swiper-wrapper .slide4 .main_bnr_txt h2 {color: #D75770; border: 2px solid #D75770;}
main .main_bnr_wrap .swiper .swiper-wrapper .slide4 .main_bnr_txt p {color: #D75770;}
/* swiper pagination color css */
main .main_bnr_wrap .swiper .swiper-pagination .swiper-pagination-bullet {
    background-color: #ddd;
    opacity: 1;
}
main .main_bnr_wrap .swiper .swiper-pagination .swiper-pagination-bullet-active {
    background-color: #F29700;
}
/* 2행 best */
main .scroll {
    text-align: left;
}
main .scroll .main_swiper {
    margin: 120px auto;
    display: flex;
    flex-flow: column nowrap;
}
main .scroll .main_swiper .product_fillter {
    text-align: right;
    margin: 0 240px 20px;
}
main .scroll .main_swiper .product_fillter a {
    font-size: 0.875rem; font-weight: 300;
}
main .scroll .main_swiper .product_fillter a:last-child {
    margin-right: 0;
}
main .scroll .main_swiper .product_fillter a:first-child::before {
    display: none;
}
main .scroll .main_swiper .product_fillter a::before {
    content: ''; display: inline-block;
    width: 1px; height: 8px;
    background: #000;
    margin: 0 18px;
}
main .scroll .main_swiper .scroll_container {
    width: max-content; overflow: hidden;
    display: flex;
    margin-left: 240px;
}
main .scroll .best_container .scroll_container .scroll_title {
    width: 320px; height: 515px;
    background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(../images/img_best_title.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 12px;
    padding: 132px 30px 0 30px;
    margin-right: 80px;
}
main .scroll .main_swiper .scroll_container .scroll_title h1 {
    color: #fff; font-size: 2rem; font-weight: 600;
    margin-bottom: 40px;
}
main .scroll .main_swiper .scroll_container .scroll_title p {
    color: #fff; line-height: 1.6;
    margin-bottom: 40px;
}
main .scroll .main_swiper .scroll_container .scroll_title a {
    width: 95px; height: 34px;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 22px;
    font-size: 0.875rem; font-weight: 500;
    display: flex; justify-content: center; align-items: center;
}
main .scroll .main_swiper .scroll_container .scroll_title a img {
    width: 14px; height: 14px;
    margin-left: 4px;
}
main .scroll .main_swiper .scroll_container .scroll_section .main_scroll {
    width: 1040px;
}
main .scroll .main_swiper .scroll_container .scroll_section .main_scroll .swiper-wrapper {}
main .scroll .main_swiper .scroll_container .scroll_section .main_scroll .swiper-wrapper .swiper-slide {
    width: 280px;
}
main .scroll .main_swiper .scroll_container .scroll_section .main_scroll .swiper-wrapper .swiper-slide .scroll_img {
    position: relative;
    margin-bottom: 24px;
}
main .scroll .main_swiper .scroll_container .scroll_section .main_scroll .swiper-wrapper .swiper-slide .scroll_img .product {
    width: 280px; height: 200px;
    border-radius: 10px;
    border: 1px solid #ddd;
    display: block;
}
/* 상품개별이미지 best */
main .scroll .best_container .scroll_container .scroll_section .main_scroll .swiper-wrapper .slide1 .scroll_img .product {
    background: url(../images/img_best001.jpg) center / cover;
}
main .scroll .best_container .scroll_container .scroll_section .main_scroll .swiper-wrapper .slide2 .scroll_img .product {
    background: url(../images/img_best002.jpg) center / cover;
}
main .scroll .best_container .scroll_container .scroll_section .main_scroll .swiper-wrapper .slide3 .scroll_img .product {
    background: url(../images/img_best003.jpg) center / cover;
}
main .scroll .best_container .scroll_container .scroll_section .main_scroll .swiper-wrapper .slide4 .scroll_img .product {
    background: url(../images/img_best004.jpg) center / cover;
}
main .scroll .best_container .scroll_container .scroll_section .main_scroll .swiper-wrapper .slide5 .scroll_img .product {
    background: url(../images/img_best005.jpg) center / cover;
}
main .scroll .best_container .scroll_container .scroll_section .main_scroll .swiper-wrapper .slide6 .scroll_img .product {
    background: url(../images/img_best006.jpg) center / cover;
}
main .scroll .main_swiper .scroll_container .scroll_section .main_scroll .swiper-wrapper .swiper-slide .scroll_img .cart_btn {
    width: 34px; height: 34px;
    border-radius: 17px;
    border: 1px solid #ddd;
    display: block;
    background: #fff;
    position: absolute; right: 10px; bottom: 10px;
}
main .scroll .main_swiper .scroll_container .scroll_section .main_scroll .swiper-wrapper .swiper-slide .scroll_img .cart_btn img {
    width: 100%;
}
main .scroll .main_swiper .scroll_container .scroll_section .main_scroll .swiper-wrapper .swiper-slide .title {
    margin-bottom: 20px;
    display: flex; justify-content: space-between; align-items: center;
}
main .scroll .main_swiper .scroll_container .scroll_section .main_scroll .swiper-wrapper .swiper-slide .title h1 {
    font-size: 1.25rem; font-weight: 600; line-height: 1.4;
}
main .scroll .main_swiper .scroll_container .scroll_section .main_scroll .swiper-wrapper .swiper-slide .title .score{
    font-size: 0.75rem;
    display: flex; align-items: center;
}
main .scroll .main_swiper .scroll_container .scroll_section .main_scroll .swiper-wrapper .swiper-slide .title .score img{
    width: 12px; height: 12px;
    margin-right: 4px;

}
main .scroll .main_swiper .scroll_container .scroll_section .main_scroll .swiper-wrapper .swiper-slide .title .score em{
    margin-right: 4px;
}
main .scroll .main_swiper .scroll_container .scroll_section .main_scroll .swiper-wrapper .swiper-slide .title .score span{}
main .scroll .main_swiper .scroll_container .scroll_section .main_scroll .swiper-wrapper .swiper-slide > p{
    line-height: 1.2;
    margin: 20px 0;
}
main .scroll .main_swiper .scroll_container .scroll_section .main_scroll .swiper-wrapper .swiper-slide .tag_wrap{
    margin-bottom: 24px;
}
main .scroll .main_swiper .scroll_container .scroll_section .main_scroll .swiper-wrapper .swiper-slide .tag_wrap p{
    display: inline-block;
    padding: 2px 8px;
    background: #F29700;
    border-radius: 12px;
    font-size: 0.875rem; color: #fff; line-height: 1.4;
}
main .scroll .main_swiper .scroll_container .scroll_section .main_scroll .swiper-wrapper .swiper-slide .price_wrap {}
main .scroll .main_swiper .scroll_container .scroll_section .main_scroll .swiper-wrapper .swiper-slide .price_wrap .price{
    font-size: 1.25rem; font-weight: 600;
    text-align: right;
    margin-top: 48px;
}
main .scroll .main_swiper .scroll_container .scroll_section .main_scroll .swiper-wrapper .swiper-slide .price_wrap .discount{}
main .scroll .main_swiper .scroll_container .scroll_section .main_scroll .swiper-wrapper .swiper-slide .price_wrap .discount p {
    font-size: 1.25rem; font-weight: 600;
    display: flex; justify-content: space-between; align-items: center;
}
main .scroll .main_swiper .scroll_container .scroll_section .main_scroll .swiper-wrapper .swiper-slide .price_wrap .discount p:first-child {
    margin-bottom: 6px;
}
main .scroll .main_swiper .scroll_container .scroll_section .main_scroll .swiper-wrapper .swiper-slide .price_wrap .discount p em {
    font-weight: 600; color: #F29700;
}
main .scroll .main_swiper .scroll_container .scroll_section .main_scroll .swiper-wrapper .swiper-slide .price_wrap .discount p em span {
    font-weight: 600; color: #F29700;
    margin-left: 14px;
}
/* 할인 시 원가 스타일 */
.del_price {
    font-size: 1.125rem !important; 
    color: #ddd;
    margin-top: 0 !important;
    margin-bottom: 6px;
    text-decoration: line-through;
}

/* swiper 스크롤바, 버튼 */
main .scroll .main_swiper .scroll_container .scroll_section {}
main .scroll .best_container .scroll_container .scroll_section .scroll_control_wrap {
    width: 1040px; height: 54px;
    position: relative;
    bottom: -12px;
}
/* best swiper button, 스크롤바 디자인 변경 */
.scroll_section .scroll_control_wrap .swiper-scrollbar{
    width: 888px;
    bottom: 18px;
    left: 0;
}
.scroll_section .scroll_control_wrap .swiper-scrollbar .swiper-scrollbar-drag{
    background: #F29700;
}
.scroll_section .scroll_control_wrap .scroll_control_btn{
    position: absolute; right: 20px; bottom: 0;
    width: 94px; height: 40px;
}
.scroll_section .swiper-button-next {
    width: 40px; height: 40px;
    background: url(../images/icon_next_active.png) center / cover;
    margin-top: 0; top: 0; right: 0;
}
.scroll_section .swiper-button-prev {
    width: 40px; height: 40px;
    background: url(../images/icon_next_active.png) center / cover;
    transform: scaleX(-1);
    margin-top: 0; top: 0; left: 0;
}
.scroll_section .swiper-button-next::after {
    display: none;
}
.scroll_section .swiper-button-prev::after {
    display: none;
}
/* 3행 support */
/* 상품개별이미지 support */
main .scroll .support_container .scroll_container .scroll_section .main_scroll .swiper-wrapper .slide1 .scroll_img .product {
    background: url(../images/img_sup001.jpg) center / cover;
}
main .scroll .support_container .scroll_container .scroll_section .main_scroll .swiper-wrapper .slide2 .scroll_img .product {
    background: url(../images/img_sup002.jpg) center / cover;
}
main .scroll .support_container .scroll_container .scroll_section .main_scroll .swiper-wrapper .slide3 .scroll_img .product {
    background: url(../images/img_sup003.jpg) center / cover;
}
main .scroll .support_container .scroll_container .scroll_section .main_scroll .swiper-wrapper .slide4 .scroll_img .product {
    background: url(../images/img_sup004.jpg) center / cover;
}
main .scroll .support_container .scroll_container .scroll_section .main_scroll .swiper-wrapper .slide5 .scroll_img .product {
    background: url(../images/img_sup005.jpg) center / cover;
}
main .scroll .support_container .scroll_container .scroll_section .main_scroll .swiper-wrapper .slide6 .scroll_img .product {
    background: url(../images/img_sup006.jpg) center / cover;
}
/* support title css */
main .scroll .support_container .scroll_container .scroll_title {
    width: 320px; height: 515px;
    background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(../images/img_sup_title.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 12px;
    padding: 132px 30px 0 30px;
    margin-left: 80px;
}
/* support swiper button, 스크롤바 디자인 변경 */
.support_container .scroll_section .support_scroll .scroll_title {
    margin-right: 0;
    margin-left: 80px;
}
main .scroll .support_container .scroll_container .scroll_section .scroll_control_wrap {
    width: 1040px; height: 54px;
    position: relative;
    bottom: -32px;
}
.support_container .scroll_section .scroll_control_wrap .swiper-scrollbar{
    width: 888px;
    bottom: 18px;
    left: 151px;
}
.support_container  .scroll_section .scroll_control_wrap .swiper-scrollbar .swiper-scrollbar-drag{
    background: #F29700;
}
.support_container  .scroll_section .scroll_control_wrap .scroll_control_btn{
    position: absolute; left: 20px; bottom: 0;
}
.support_container  .scroll_section .swiper-button-next {
    width: 40px; height: 40px;
    background: url(../images/icon_next_active.png) center / cover;
    margin-top: 0; top: 0; right: 0;
}
.support_container  .scroll_section .swiper-button-prev {
    width: 40px; height: 40px;
    background: url(../images/icon_next_active.png) center / cover;
    transform: scaleX(-1);
    margin-top: 0; top: 0; left: 0;
}
.support_container  .scroll_section .swiper-button-next::after {
    display: none;
}
.support_container  .scroll_section .swiper-button-prev::after {
    display: none;
}

/* 4행 */
main .ad_bnr_container{
    width: 100%;
    padding: 80px 0;
}
main .ad_bnr_container .ad_bnr {
    margin: 0 auto;
    width: 1440px; height: 260px;
    background: url(../images/img_ad_001.jpg) center / cover;
    position: relative;
}
main .ad_bnr_container .ad_bnr p{
    font-size: 1.875rem; font-weight: 500;
    line-height: 1.6;
    position: absolute; left: 52px; top: 82px;
}
main .ad_bnr_container .ad_bnr p em{
    font-weight: 500;
    color: #F29700;
}
/* 5행 */
main .pet_sup_container {
    padding: 120px 0;
}
main .pet_sup_container .pet_sup {
    width: 1440px;
    text-align: center;
    margin: 0 auto;
}
main .pet_sup_container .pet_sup h1 {
    font-size: 2rem; font-weight: 600;
    margin-bottom: 120px;
}
main .pet_sup_container .pet_sup .pet_product_container {
    display: flex;
    margin-bottom: 120px;
}
main .pet_sup_container .pet_sup .pet_product_container .pet_product {
    margin-right: 80px;
    width: max-content; height: max-content;
}
main .pet_sup_container .pet_sup .pet_product_container .pet_product:last-child {margin-right: 0;}
main .pet_sup_container .pet_sup .pet_product_container .pet_product .product_img {
    width: 300px; height: 300px;
    border-radius: 150px;
    position: relative;
    display: block;
}
main .pet_sup_container .pet_sup .pet_product_container .pet_product .product_img1 {
    background: url(../images/img_pet_001.jpg);
}
main .pet_sup_container .pet_sup .pet_product_container .pet_product .product_img2 {
    background: url(../images/img_pet_002.jpg);
}
main .pet_sup_container .pet_sup .pet_product_container .pet_product .product_img3 {
    background: url(../images/img_pet_003.jpg);
}
main .pet_sup_container .pet_sup .pet_product_container .pet_product .product_img4 {
    background: url(../images/img_pet_004.jpg);
}
main .pet_sup_container .pet_sup .pet_product_container .pet_product .product_img img{
    width: 50px; height: 50px; display: inline-block;
    border-radius: 25px;    
    position: absolute; right: 20px; bottom: 20px;
}
main .pet_sup_container .pet_sup .pet_product_container .pet_product  .product_txt {
    width: 186px;
    margin: 40px auto 0;
    display: block;
}
main .pet_sup_container .pet_sup .pet_product_container .pet_product  .product_txt h2 {
    font-size: 1.25rem; font-weight: 600; line-height: 1.4;
}
main .pet_sup_container .pet_sup .pet_product_container .pet_product .product_txt .color_chip {
    width: 12px; height: 12px; border-radius: 6px;
    background: #F29700;
    display: inline-block;
    margin: 16px 0;
}
main .pet_sup_container .pet_sup .pet_product_container .pet_product  .product_txt h3 {
    font-size: 1.5rem; font-weight: 600;
    margin-bottom: 16px;
}
main .pet_sup_container .pet_sup .pet_product_container .pet_product .product_txt p {
    line-height: 1.6;
}
.more_b_btn {
    width: 107px; height: 34px;
    font-size: 0.875rem; font-weight: 500;
    border-radius: 17px;
    border: 1px solid #000;
    margin: 0 auto;
    display: flex; justify-content: center; align-items: center;
}
.more_b_btn img {
    width: 12px; height: 12px;
    margin-left: 6px;
}
main .pet_sup_container .pet_sup .pet_product_container .pet_product  .product_txt .color_chip2 {
    margin-left: 12px;
}
main .pet_sup_container .pet_sup .pet_product_container .pet_product  .product_txt .color_chip3 {
    margin-left: 12px;
}
main .pet_sup_container .pet_sup .pet_product_container .pet_product2 .product_txt .color_chip2 {
    background: #FF0000;
}
main .pet_sup_container .pet_sup .pet_product_container .pet_product2 .product_txt .color_chip3 {
    background: #008CFF;
}
main .pet_sup_container .pet_sup .pet_product_container .pet_product3 .product_txt .color_chip1 {
    background: #FF0000;
}
main .pet_sup_container .pet_sup .pet_product_container .pet_product3 .product_txt .color_chip2 {
    background: #008CFF;
}
main .pet_sup_container .pet_sup .pet_product_container .pet_product1,
main .pet_sup_container .pet_sup .pet_product_container .pet_product4 {
    margin-top: 120px;
}
/* 6행 magazine */
main .magazine_wrap {
    text-align: center;
    padding: 120px 0;
}
main .magazine_wrap h1 {
    font-size: 2rem; font-weight: 600;
    margin-bottom: 80px;
}
main .magazine_wrap .magazine_container {
    width: max-content;
    margin: 0 auto;
    display: flex;
    justify-content: space-between; align-items: center;
}
main .magazine_wrap .magazine_container .magazine_left {
    display: flex;
    margin-right: 34px;
}
main .magazine_wrap .magazine_container .magazine_left .title_img {
    width: 306px; height: 416px;
    background: url(../images/img_magazine001.jpg) center / cover;
    margin-right: 30px;
    box-shadow: 0 4px 3px rgba(0, 0, 0, 0.1);
    border: 1px solid #f0f0f0;
}
main .magazine_wrap .magazine_container .magazine_left .magazine_contents {
    text-align: left;
}
main .magazine_wrap .magazine_container .magazine_left .magazine_contents h1 {
    font-family: 'LeferiPoint-SpecialA', sans-serif;
    margin: 52px 0 16px;
    font-size: 1.75rem;
}
main .magazine_wrap .magazine_container .magazine_left .magazine_contents h2 {
    font-weight: 300;
    margin-bottom: 8px;
}
main .magazine_wrap .magazine_container .magazine_left .magazine_contents .writer {
    font-size: 0.75rem;
    color: #aaa;
    margin-bottom: 16px;
}
main .magazine_wrap .magazine_container .magazine_left .magazine_contents h3 {
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 52px;
}
main .magazine_wrap .magazine_container .magazine_left .magazine_contents .m_list {
    font-size: 0.875rem; line-height: 1.2;
    margin-bottom: 10px;
}
main .magazine_wrap .magazine_container .magazine_left .magazine_contents .m_list:last-of-type {
    margin-bottom: 16px;
}
main .magazine_wrap .magazine_container .magazine_left .magazine_contents .more_info_btn {
    width: 102px; line-height: 30px;
    background: #F29700;
    color: #fff; font-size: 0.875rem; font-weight: 500;
    border-radius: 15px;
    display: flex; justify-content: center; align-items: center;
}
main .magazine_wrap .magazine_container .magazine_left .magazine_contents .more_info_btn img {}
main .magazine_wrap .magazine_container .magazine_swiper_wrap {
    width: 800px; height: 272px;
    position: relative;
}
/* magazine 버튼 */
.magazine_swiper_wrap .swiper-button-prev {
    width: 40px; height: 40px;
    background: url(../images/icon_next_active.png) center / cover;
    transform: scaleX(-1) translateX(11px);
}
.magazine_swiper_wrap .swiper-button-prev::after {
    display: none;
}
.magazine_swiper_wrap .swiper-button-next {
    width: 40px; height: 40px;
    background: url(../images/icon_next_active.png) center / cover;
    transform: translateX(11px);
}
.magazine_swiper_wrap .swiper-button-next::after {
    display: none;
}
main .magazine_wrap .magazine_container .magazine_swiper_wrap .magazine_scroll {
    width: 660px; height: 272px;
    overflow: hidden;
    margin: 0 auto;
}
main .magazine_wrap .magazine_container .magazine_swiper_wrap .magazine_scroll .swiper-wrapper {}
main .magazine_wrap .magazine_container .magazine_swiper_wrap .magazine_scroll .swiper-wrapper .swiper-slide {
    width: 200px;
    background-position: center;
    background-size: cover;
    border: 1px solid #f0f0f0;
}
main .magazine_wrap .magazine_container .magazine_swiper_wrap .magazine_scroll .swiper-wrapper .swiper-slide:last-child {
    margin-right: 0;
}
main .magazine_wrap .magazine_container .magazine_swiper_wrap .magazine_scroll .swiper-wrapper .slide1 {
    background-image: url(../images/img_magazine002.jpg);
}
main .magazine_wrap .magazine_container .magazine_swiper_wrap .magazine_scroll .swiper-wrapper .slide2 {
    background-image: url(../images/img_magazine003.jpg);
}
main .magazine_wrap .magazine_container .magazine_swiper_wrap .magazine_scroll .swiper-wrapper .slide3 {
    background-image: url(../images/img_magazine004.jpg);
}
main .magazine_wrap .magazine_container .magazine_swiper_wrap .magazine_scroll .swiper-wrapper .slide4 {
    background-image: url(../images/img_magazine005.jpg);
}
main .magazine_wrap .magazine_container .magazine_swiper_wrap .magazine_scroll .swiper-wrapper .slide5 {
    background-image: url(../images/img_magazine006.jpg);
}
main .magazine_wrap .magazine_container .magazine_swiper_wrap .magazine_scroll .swiper-wrapper .slide6 {
    background-image: url(../images/img_magazine007.jpg);
}
main .magazine_wrap .magazine_container .magazine_bg {
    width: 694px; height: 211px;
    background: url(../images/img_bg001.png) bottom / cover;
    position: absolute; right: 51px; bottom: 6px; 
}

/* 7행 review */
main .review {
    text-align: center;
    padding: 120px 0;
}
main .review .review_container {}
main .review .review_container  h1 {
    font-size: 2rem; font-weight: 600;
    margin-bottom: 80px;
}
main .review .review_container .review_wrap {}
main .review .review_container .review_wrap .review_list_wrap {
    width: 1440px;
    margin: 0 auto 80px;
    display: flex;
    justify-content: space-between;
    text-align: left;
}
main .review .review_container .review_wrap .review_list_wrap .review_list {
    display: inline-block;
    width: 320px; height: 556px;
}
main .review .review_container .review_wrap .review_list_wrap .review_list .review_img {
    border-radius: 10px;
    width: 320px; height: 400px;
    background-position: center;
    background-size: cover;
    margin-bottom: 28px;
}
main .review .review_container .review_wrap .review_list_wrap .list1 .review_img{
    background-image: url(../images/img_review001.jpg);
}
main .review .review_container .review_wrap .review_list_wrap .list2 .review_img{
    background-image: url(../images/img_review002.jpg);
}
main .review .review_container .review_wrap .review_list_wrap .list3 .review_img{
    background-image: url(../images/img_review003.jpg);
}
main .review .review_container .review_wrap .review_list_wrap .list4 .review_img{
    background-image: url(../images/img_review004.jpg);
}
main .review .review_container .review_wrap .review_list_wrap .review_list .review_contents {
    height: 44px;
    margin-bottom: 20px;
    line-height: 1.4;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;/* 최대 줄 수 (여기선 2줄) */
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
}
main .review .review_container .review_wrap .review_list_wrap .review_list .user_info {
    margin-bottom: 10px;
    font-size: 0.875rem;
    color: #aaa;
    display: flex;
    align-items: center;
}
main .review .review_container .review_wrap .review_list_wrap .review_list .user_info span {
    color: #aaa;
}
main .review .review_container .review_wrap .review_list_wrap .review_list .user_info span::after {
    content: ''; display: inline-block;
    width: 1px; height: 10px;
    background-color: #aaa;
    margin: 0 8px;
}
main .review .review_container .review_wrap .review_list_wrap .review_list .review_product {}
main .review .review_container .review_wrap .review_list_wrap .review_list .review_product span {
    width: 100%; height: 1px;
    background: #f5f5f5;
    display: inline-block;
    margin-bottom: 10px;
}
/* 8행 포인핸드 소개 */
main .introduce_brand {
    padding-top: 100px;
}
main .introduce_brand .intro_container{}
main .introduce_brand .intro_container .intro_scroll {
    display: flex;
}
main .introduce_brand .intro_container .intro_scroll .swiper-wrapper {
    width: 960px; height: 560px;
}
main .introduce_brand .intro_container .intro_scroll .swiper-wrapper .swiper-slide::before{
    content: ''; display: block;
    width: 100%; height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    position: absolute; left: 0; top: 0;
}
main .introduce_brand .intro_container .intro_scroll .swiper-wrapper .swiper-slide {
    width: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
}
main .introduce_brand .intro_container .intro_scroll .swiper-wrapper .slide1 {
    background-image: url(../images/img_intro001.jpg);
}
main .introduce_brand .intro_container .intro_scroll .swiper-wrapper .slide2 {
    background-image: url(../images/img_intro002.jpg);
}
main .introduce_brand .intro_container .intro_scroll .swiper-wrapper .slide3 {
    background-image: url(../images/img_intro003.jpg);
}
main .introduce_brand .intro_container .intro_scroll .swiper-wrapper .slide4 {
    background-image: url(../images/img_intro004.jpg);
}
main .introduce_brand .intro_container .intro_scroll .swiper-wrapper .slide5 {
    background-image: url(../images/img_intro005.jpg);
}
/* 버튼 디자인 변경 */
.intro_pic > .swiper-button-next {
    width: 40px; height: 40px;
    background: url(../images/icon_next.png) center / cover;
}
.intro_pic > .swiper-button-prev {
    width: 40px; height: 40px;
    background: url(../images/icon_prev.png) center / cover;
}
.intro_pic > .swiper-button-next::after {
    display: none;
}
.intro_pic > .swiper-button-prev::after {
    display: none;
}

main .introduce_brand .intro_container .intro_scroll .introduce_contents {
    width: 960px; height: 560px;
    text-align: center;
    background: #F29700;
}
main .introduce_brand .intro_container .intro_scroll .introduce_contents p {
    font-size: 1.625rem; font-weight: 700;
    color: #fff; line-height: 1.8;
    margin-top: 80px;
}
main .introduce_brand .intro_container .intro_scroll .introduce_contents h1 {
    margin: 80px 0;
}
main .introduce_brand .intro_container .intro_scroll .introduce_contents h1 img {
    width: 100px; height: 100px;
}
main .introduce_brand .intro_container .intro_scroll .introduce_contents .more_brand_btn {
    width: 221px; height: 46px;
    display: flex;
    justify-content: center; align-items: center;
    font-size: 1.125rem; font-weight: 500;
    color: #fff;
    border: 1px solid #fff; border-radius: 23px;
    margin: 0 auto;
}
main .introduce_brand .intro_container .intro_scroll .introduce_contents .more_brand_btn img {
    width: 18px; height: 18px;
    margin-left: 6px;
}