/* responsive.css */
/* Desktop 1025~1920 */
/* Tablet 1024~761 */
/* Mobile 760~320 */
@media screen and (max-width: 1024px) {
    body header #main_header {
        position: relative;
        padding: 20px;
    }
    body header #main_header h1 {
        display: none;
    }
    body #main_header .right_wrap .search {
        display: none;
    }
    body #main_header .right_wrap .cart {
        display: none;
    }
    body header #main_header nav .gnb {
        display: none;
    }
    body header #main_header .menu {
        display: block;
    }
    body header #main_header .menu a {
        display: inline-block;
        width: 32px; height: 32px;
    }
    body header #main_header .menu a img {
        width: 100%;
    }
    body header #main_header .logo_typo {
        display: block;
        position: absolute; left: 50%; transform: translateX(-50%);
    }
    body header #main_header .logo_typo a {
        display: inline-block;
        width: 240px; height: 50px;
    }
    body header #main_header .logo_typo a img {
        width: 100%;
    }
    body header #main_header .right_wrap a {
        width: 32px; height: 32px;
    }
    body header .ad .ad_close_btn{
        right: 60px;
    }
    main .main_bnr_wrap .swiper .swiper-wrapper .swiper-slide {
        height: 500px;
    }
    main .main_bnr_wrap .swiper .swiper-wrapper .swiper-slide .main_bnr_txt {
        left: 60px;
    }
    main .main_bnr_wrap .swiper .swiper-wrapper .swiper-slide .main_bnr_txt h2 {
        font-size: 0.75rem; font-weight: 500;
        border: 1px solid #000; border-radius: 17px;
        margin-bottom: 12px;
    }
    main .main_bnr_wrap .swiper .swiper-wrapper .swiper-slide .main_bnr_txt h1 {
        font-size: 1.875rem; font-weight: 600;
        line-height: 1.4;
        margin-bottom: 12px;
    }
    main .main_bnr_wrap .swiper .swiper-wrapper .swiper-slide .main_bnr_txt p {
        font-size: 0.875rem;
        line-height: 1.4;
    }
}